<% if params[:action] == 'index' %>
  <div id="<%= dom_id category %>" class="d-flex justify-content-between align-items-center m-2  p-3 category_container bg_white full-width">
<% else %>
  <div id="<%= dom_id category %>" class="d-flex flex-column align-items-center m-2 p-3 full-width">
<% end %>
    <div>
      <%= link_to category do%>
        <div id="<%= category.icon %>" class="img_icon">
        </div>
      <% end %>
    </div>
    <p>
      <%= "#{category.name} " %>
    </p>
    <p class="amount">
      <%= "(#{category.total_amount_category} $us)" %>
    </p>


  <% if params[:action] == 'show' %>
    <table class="table table-striped mt-3">

      <tbody>
        <% @category.payments.order(created_at: :desc).each do |payment| %>
          <tr>
            <tr>
              <td><%= payment.name %></td>
            </tr>
            <tr>
              <td class="fz-12"><%= payment.created_at  %></td>
            </tr>
            <tr>
              <td class="fz-14"><%= "Total Payment    #{payment.amount} $us"  %></td>
            </tr>
          </tr>
        <% end %>
      </tbody>
      </table>
  <% end %>
</div>
