<div class="d-flex flex-column align-items-center p-2">
  <% flash.each do |type, msg| %>
        <div>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
  <% end %>

  <h1>Categories</h1>
  <%= "Total Expenses: #{@current_user.total_expenses} $us" %>
  <div id="categories" class="d-flex justify-content-center flex-wrap">
    <% @categories.each do |category| %>
      <%= render category %>
    <% end %>
  </div>

  <%= button_to "Add a new category", new_category_path, method: :get, class: "btn-secondary m-3  " %>
</div>
